.print-pdf {
    width: 210mm;
    min-height: 297mm;
    padding: 3rem 2rem;
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
    .btn { display: none;}
}

.table__overview[data-v-e0ba0cd2] {
    width: 100%;
}