html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 邊框和內邊距不會增加元素的總大小 */
  font-size: 1.1rem;
  letter-spacing: 1.2px;
}

body {
  background-color: rgb(247, 250, 252) !important;
  position: relative; /* 為了定位偽元素 */
  z-index: 1;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url('../assets/background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 50%;
  height: 50%;
  opacity: 0.5;
  z-index: -1;
}

body .btn__light {
  background-color: rgb(248, 234, 73);
  border-radius: 10px;
  letter-spacing: 3px;
  padding: 3px 10px 3px 13px;
  transition: all 200ms;
}
body .btn__light:hover {
  color: white;
  background-color: rgb(124, 134, 141);
}

body .btn__dark {
  color: white;
  background-color: rgb(124, 134, 141);
  border-radius: 10px;
  letter-spacing: 3px;
  padding: 3px 10px 3px 13px;
  transition: all 200ms;
}
body .btn__dark:hover {
  color: black;
  background-color: rgb(248, 234, 73);
}
